.medicine-index
  .medicine-index__side_content
    = link_to '戻る', :back, class: 'medicine-index__side_content--back-link'
    = link_to 'ホーム', root_path, class: 'medicine-index__side_content--home-link'
