@import 'color';

.edit-care_receiver {
  margin: 5vw;
  display: flex;
}

.side-edit-care_receiver {
  width: 28vw;
  margin-left: 2vw;

  &__cancel {

    &--btn {
      display: block;
      width: 8.5rem;
      height: 4rem;
      margin: 0 auto;
      border-radius: 10px;
      border-bottom: solid 4px $button-shadow;
      background-color: $button-color;
      line-height: 4rem;
      text-align: center;
      font-size: 2rem;
      color: $main-font;
      text-decoration: none;
    }
  }
}

.main-edit-care_receiver {
  width: 68vw;
  margin-right: 2vw;
  background-color: $sub-background;

  &__title {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }
}
