@import 'color';

@mixin button {
  display: block;
  width: 8.5rem;
  height: 4rem;
  margin: 0 auto;
  border-radius: 10px;
  border-bottom: solid 4px $button-shadow;
  background-color: $button-color;
  line-height: 4rem;
  text-align: center;
  font-size: 2rem;
  color: $main-font;
  text-decoration: none;
}

@mixin headline-style {
  margin: 1rem;
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: $list-color
}
/*---------- 上半分 ----------------------------------------*/
.show-care_receiver__upper_half_content {
  margin: 5%;
  display: flex;
  justify-content: center;
}

.show-care_receiver__side_button {
  width: 30%;
  margin-right: 2%;

  &--back-link {
    @include button;

    &:hover {
      background-color: $hover-button;
    }
  }
}

.show-care_receiver__main {
  width: 70%;
  margin-left: 2%;
  background-color: $sub-background;

  &--name {
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    background-color: $list-color;
  }

  &--birthday {
    margin: 2rem 1rem;
    display: flex;
    font-size: 2rem;

    &--date {
      width: 70%;
      text-align: center;
    }

    &--age {
      width: 30%;
      text-align: center;
    }
  }
}

/*--------------- 下半分 ----------------------*/
.show-care_receiver__lower_half_content {
  margin: 5%;
  display: flex;
  justify-content: center;
}

.dosing_time-show_care_receiver {
  width: 50%;
  background-color: $sub-background;

  &__title {
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }

  &__not-exist {
    text-align: center;
    font-size: 2rem;
    background-color: $list-color;
    border-bottom: .2vw solid $main-font;
    border-right: .2vw solid $main-font;
  }

  &__list {
    padding: 0 5%;
    display: block;
    list-style: none;

    &--item {
      margin: 1vw 0;
      border-bottom: .2vw solid $main-font;
      border-right: .2vw solid $main-font;
    }
  }
}

/* list-item 服薬時間帯 */
.timeframe-dosing_time-show_care_receiver {
  padding-left: 3vw;
  background-color: $list-color;
  border-bottom: .2vw dotted $main-font;
  display: flex;

  &__name {
    width: 9rem;
    height: 4rem;
    text-align: left;
    line-height: 4rem;
    font-size: 2rem;
  }

  &__time {
    width: 5.5rem;
    height: 4rem;
    text-align: right;
    line-height: 4rem;
    font-size: 1.5rem;
  }
}

/* list-item 薬 */
.medicine-dosing_time-show_care_receiver-list {
  margin-left: 5vw;
  background-color: $sub-list-color;
  list-style: none;
  overflow: hidden;

  .medicine-dosing_time-show_care_receiver {
    margin-top: .3vw;
    border-bottom: .1vw solid $main-font;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__name {
      width: 12rem;
      font-size: 1.5rem;
    }

    &__no-image {
      width: 6.5rem;
      height: 4rem;
      margin: 0 .5vw;
      background-color: $no-image;
      line-height: 4rem;
      text-align: center;
      font-size: 1rem;
    }

    &__image {
      &--item {
      width: 6.5rem;
      height: 4rem;
      margin: 0 .5vw;
      object-fit: contain;
      }
    }

    &__no-url {
      width: 8rem;
      height: 2.4rem;
    }

    &__url {

      &--btn {
        display: inline-block;
        width: 8rem;
        height: 2.4rem;
        border-radius: 10px;
        background-color: $button-color;
        line-height: 2.4rem;
        text-align: center;
        font-size: 1.2rem;
        color: $main-font;
        text-decoration: none;

        &:hover {
          background-color: $hover-button;
        }
      }
    }
  }
}

.dosing_time-show_care_receiver__edit {
  margin: 2rem 0;

  &--btn {
    @include button;

    &:hover {
      background-color: $hover-button;
    }
  }
}
