@import 'color';

@mixin side-button {
  display: block;
  width: 8.5rem;
  height: 4rem;
  margin: 0 auto;
  border-radius: 10px;
  border-bottom: solid 4px $button-shadow;
  background-color: $button-color;
  line-height: 4rem;
  text-align: center;
  font-size: 2rem;
  color: $main-font;
  text-decoration: none;
}

@mixin headline-style {
  margin: 1rem;
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: $list-color
}
/*---------- 上半分 ----------------------------------------*/
.show-care_receiver__upper_half_content {
  margin: 5%;
  display: flex;
  justify-content: center;
}

.show-care_receiver__side_button {
  width: 30%;
  margin-right: 2%;

  &--back-link {
    @include side-button;

    &:hover {
      background-color: $hover-button;
    }
  }
}

.show-care_receiver__main {
  width: 70%;
  margin-left: 2%;
  background-color: $sub-background;

  &--name {
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    background-color: $list-color;
  }

  &--birthday {
    margin: 2rem 1rem;
    display: flex;
    font-size: 2rem;

    &--date {
      width: 70%;
      text-align: center;
    }

    &--age {
      width: 30%;
      text-align: center;
    }
  }
}

/*--------------- 下半分 ----------------------*/
.show-care_receiver__lower_half_content {
  margin: 5%;
  display: flex;
  justify-content: center;
}

.show-care_receiver__dosing_time {
  width: 50%;
  background-color: $sub-background;

  &--title {
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }

  &--list {
    padding: 0 5%;
    display: block;
    list-style: none;

    &--item {
      text-align: center;
      font-size: 2rem;
      background-color: $list-color;
      border-bottom: .2vw solid $main-font;
      border-right: .2vw solid $main-font;
    }
  }

  &--edit {
    margin: 2rem 0;

    &--button {
      @include side-button;

      &:hover {
        background-color: $hover-button;
      }
    }
  }
}
