@import 'color';

@mixin button {
  display: block;
  width: 8.5rem;
  height: 4rem;
  border-radius: 10px;
  border-bottom: solid 4px $button-shadow;
  background-color: $button-color;
  line-height: 4rem;
  text-align: center;
  font-size: 2rem;
  color: $main-font;
  text-decoration: none;

  &:hover {
    background-color: $hover-button;
  }
}

@mixin headline-style {
  margin: 1rem;
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: $list-color
}
/*---------- 上半分 ----------------------------------------*/
.show-care_receiver__upper_half_content {
  margin: 5vw;
  display: flex;
  justify-content: center;
}

.side_btn-show-care_receiver {
  width: 23vw;
  margin-right: 2vw;

  &__back-btn {
    @include button;
    margin: 0 auto;
  }
}

.information-show-care_receiver {
  width: 63vw;
  margin-left: 2vw;
  background-color: $sub-background;

  &__name {
    margin: 1rem;
    padding: 2rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: $list-color;

    .last_name-show-care_receiver {

      &__kana {
        font-size: 1.5rem;
      }

      &__main {
        font-size: 3rem;
        font-weight: bold;
      }
    }

    .first_name-show-care_receiver {
      margin-left: 2rem;

      &__kana {
        font-size: 1.5rem;
      }

      &__main {
        font-size: 3rem;
        font-weight: bold;
      }
    }

    .honorific_title-show-care_receiver {
      margin-left: 2rem;
      font-size: 3rem;
    }
  }

  &__besides {
    margin: 2rem 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &--birthday {
      margin-left: 3vw;
      text-align: center;
    }

    &--age {
      margin-left: 3rem;
      text-align: center;
    }

    &--edit-btn {
      margin-left: auto;
      @include button;
    }
  }
}

/*--------------- 下半分 ----------------------*/
.show-care_receiver__lower_half_content {
  margin: 5%;
  display: flex;
  justify-content: center;
}

.dosing_times-show_care_receiver {
  width: 80%;
  background-color: $sub-background;

  &__title {
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }

  &__not-exist {
    text-align: center;
    font-size: 2rem;
    background-color: $list-color;
    border-bottom: .2vw solid $main-font;
    border-right: .2vw solid $main-font;
  }

  &__list {
    padding: 0 5%;
    display: block;
    list-style: none;

    &--item {
      margin: 1vw 0;
      border-bottom: .2vw solid $main-font;
      border-right: .2vw solid $main-font;
    }
  }
}

/* list-item 服薬時間帯 */
.timeframe-dosing_time-show_care_receiver {
  padding-left: 3vw;
  background-color: $list-color;
  border-bottom: .2vw dotted $main-font;
  display: flex;

  &__name {
    width: 9rem;
    height: 4rem;
    text-align: left;
    line-height: 4rem;
    font-size: 2rem;
  }

  &__time {
    width: 5.5rem;
    height: 4rem;
    text-align: right;
    line-height: 4rem;
    font-size: 1.5rem;
  }
}

/* list-item 薬 */
.medicines-dosing_time-show_care_receiver-list {
  margin-left: 5vw;
  background-color: $sub-list-color;
  list-style: none;
  overflow: hidden;

  .medicine-dosing_time-show_care_receiver {
    margin-top: .3vw;
    border-bottom: .1vw solid $main-font;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;

    &__name {
      width: 12rem;
      font-size: 1.5rem;
      margin-right: auto;
      white-space: nowrap;
      overflow-x: scroll;
    }

    &__no-image {
      width: 6.5rem;
      height: 4rem;
      margin-right: .4rem;
      background-color: $no-image;
      line-height: 4rem;
      text-align: center;
      font-size: 1rem;
    }

    &__image {

      &--item {
      width: 6.5rem;
      height: 4rem;
      margin-right: .4rem;
      object-fit: contain;
      }
    }

    &__no-url {
      width: 8rem;
      height: 2.4rem;
      margin-right: .4rem;
    }

    &__url {
      width: 8rem;
      height: 2.4rem;
      margin-right: .4rem;

      &--btn {
        display: inline-block;
        width: 8rem;
        height: 2.4rem;
        border-radius: 10px;
        background-color: $button-color;
        line-height: 2.4rem;
        text-align: center;
        font-size: 1.2rem;
        color: $main-font;
        text-decoration: none;

        &:hover {
          background-color: $hover-button;
        }
      }
    }
  }
}

.dosing_time-show_care_receiver__edit {
  margin: 2rem 0;

  &--btn {
    @include button;
    margin: 0 auto;
  }
}
