@import 'color';

@mixin side-button {
  display: block;
  width: 9.6vw;
  height: 3.6vw;
  margin: 0 auto 2vw;
  border-radius: 10px;
  border-bottom: solid 4px $button-shadow;
  background-color: $button-color;
  line-height: 3.6vw;
  text-align: center;
  font-size: 2vw;
  color: $main-font;
  text-decoration: none;
}

@mixin form-label {
  display: block;
  font-size: 1.9vw;
}

@mixin form-style {
  display: block;
  width: 100%;
  height: 3vw;
  padding: .5vw;
  font-size: 1.9vw;
}

.medicine-index {
  margin: 5vw;
  display: flex;
  justify-content: center;
}

.medicine-index__side_content {
  width: 23.5vw;
  margin-right: .5vw;

  &--link {
    &--back-link {
      @include side-button;

      &:hover {
        background-color: $hover-button;
      }
    }
    &--home-link {
      @include side-button;

      &:hover {
        background-color: $hover-button;
      }
    }
  }
}
// =====================================================================
.new-medicine {
  padding-bottom: 1vw;
  margin-top: 1vw;
  background-color: $sub-background;
}

.new-medicine-title {
  height: 7.2vw;
  text-align: center;
  line-height: 7.2vw;
  font-size: 3.2vw;
  font-weight: bold;
}

.new-medicine-form {

  &__name {
    margin: 1vw 1vw;

    &--label {
      @include form-label;
    }
    &--input-text {
      @include form-style;
    }
  }
  &__image {
    margin: 1vw 1vw;

    &--label {
      @include form-label;
    }
    &--input-file {
      display: block;
    }
  }
  &__url {
    margin: 1vw 1vw;

    &--label {
      @include form-label;
    }
    &--input-text {
      @include form-style;
    }
  }
  &__submit {
    margin-top: 3vw;

    &--button {
      @include side-button;
    }
  }
}
// =====================================================================
.medicine-index__main_content {
  width: 61.8vw;
  background-color: $sub-background;

  &--title {
    height: 8.4vw;
    text-align: center;
    line-height: 8.4vw;
    font-size: 5.2vw;
    font-weight: bold;
  }
}

.medicines_list {
  height: calc( 100vh - 5vw - 8.4vw - 5vw);
  padding: 0;
  overflow: scroll;
  list-style: none;

  &__item {
    width: 58vw;
    height: 5.4vw;
    padding: 0 .2vw .2vw 0;
    margin: 1vw auto;
    background-color: $list-color;
    border-bottom: .2vw solid $main-font;
    border-right: .2vw solid $main-font;
    line-height: 5.2vw;
    display: flex;
    align-items: center;

    &--name {
      display: inline-block;
      margin-left: 1vw;
      font-size: 3.2vw;
    }
    &--image {
      display: inline-block;
      width: 8.4vw;
      height: 5.2vw;
      margin-left: auto;
      margin-right: 1vw;
      object-fit: contain;
    }
    &--no_image {
      display: inline-block;
      width: 8.4vw;
      height: 5.2vw;
      margin-left: auto;
      margin-right: 1vw;
      background-color: $no-image;
      line-height: 5.2vw;
      text-align: center;
      font-size: 1vw;
    }
    &--url {
      display: inline-block;
      width: 8vw;
      height: 1.9vw;
      margin-right: 1vw;
      border-radius: 10px;
      background-color: $button-color;
      line-height: 1.9vw;
      text-align: center;
      font-size: 1.2vw;
      color: $main-font;
      text-decoration: none;
      white-space: nowrap;
      overflow: scroll;

      &:hover {
        background-color: $hover-button;
      }
    }
    &--no_url {
      width: 9vw;
      height: 100%;
      display: inline-block;
      text-decoration: none;
    }

    &--delete_btn {
      display: inline-block;
      width: 5vw;
      height: 1.9vw;
      margin-right: 1vw;
      border-radius: 10px;
      line-height: 1.9vw;
      text-align: center;
      background-color: $red-button-color;
      font-size: 1.2vw;
      color: $main-font;
      text-decoration: none;

      &:hover {
        background-color: $red-hover-button;
      }
    }
  }
}
