$base-background: #fcfaf2;
$sub-background: #f4f3e1;
$main-font: #250d00;
$note-font: #6e1e2f;
$border-color: #e5e4e0;
$button-color: #69b076;
$button-shadow: #2f5905;
$hover-button: #98d98e;
$red-button-color: #b8484c;
$red-button-shadow: #590505;
$red-hover-button: #d98e8e;
$error-color: #b40926;
$flash-color: #98d98e;
$list-color: #f2f2b0;
$sub-list-color: #f7f6d4;
$no-image: #afafb0;
