.new-care_receiver
  .new-care_receiver__side_content
    = link_to '戻る', :back, class: 'new-care_receiver__side_content--back-link'
    = link_to 'ホーム', root_path, class: 'new-care_receiver__side_content--home-link'

  .new-care_receiver__main_content
    .new-care_receiver-title
      利用者　新規登録

    = render partial: 'form', locals: { care_receiver: @care_receiver }

