.new-care_receiver
  .new-care_receiver__side_content
    = link_to '戻る', :back, class: 'new-care_receiver__side_content--back-link'
    = link_to 'ホーム', root_path, class: 'new-care_receiver__side_content--home-link'
